@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 64px; /* Height of your navbar */
}

@media (max-width: 768px) {
  html {
    scroll-padding-top: 64px; /* Adjust if mobile navbar height is different */
  }
}

/* App.css */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #17243f; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #0c2864; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background:#1a3060; /* Color of the scrollbar thumb on hover */
}